<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb page-head-nav">
    <li class="breadcrumb-item">
      <%= link_to 'Books', books_path %>
    </li>
    <li class="breadcrumb-item active">
      <%= @book.name %>
    </li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">
    Book details
  </div>
  <div class="card-body">
    <dl>
      <dt>Name</dt>
      <dd><%= @book.name %></dd>
      <dt>Author</dt>
      <dd><%= @book.author %></dd>
      <dt>Year</dt>
      <dd><%= @book.year %></dd>
      <dt>Category</dt>
      <dd><%= @book.category.name %></dd>
    </dl>
  </div>
</div>